/PackageDemo/nbproject/private/
/PackageChallenge/nbproject/private/
/PackageChallenge/build/
/PackageChallenge/dist/
/SeriesTest/nbproject/private/
/SeriesTest/build/
/Scope/nbproject/private/
/Scope/build/
/ScopeChallenge/nbproject/private/
/ScopeChallenge/build/
/AccessModifiers/nbproject/private/
/AccessModifiers/build/